BOT_TOKEN=8437884900:AAE5HZrQER3VBuoddz8xO5ZR6dDpsDS0_t8
API_ID=34753285
API_HASH=e90b04df2d93612f863997c5d0ce9de3
PORTALS_AUTH_DATA=
AUTO_REFRESH_AUTH=1
GIFTS_FILE=gift_links.txt
CACHE_TTL=60
REQUEST_TIMEOUT=20
